<ion-view title="Struktur Panitia">
  <ion-content class="padding">
    <h4>Seminar Make your Own Android</h4>

<div class="list">

<div class="item item-divider">
    Ketua HIMASIS
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Al Islamuddin
  </a>

  <div class="item item-divider">
    Wakil Ketua HIMASIS
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Vicki Alfiansyah
  </a>

<div class="item item-divider">
    Ketua Panitia
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Andi Alfiyansyah
  </a>

  <div class="item item-divider">
    Wakil Ketua Panitia
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Dimas Viannur Rahman
  </a>

  <div class="item item-divider">
    Sekretaris
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Dea Putri Asmarani
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Fieki Amalia
  </a>

  <div class="item item-divider">
    Bendahara
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Citra Nanda Yunita
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Tatik Hartati
  </a>

  <div class="item item-divider">
    SIE Acara
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Anita Fauziah
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Agam Nasrul K.
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Ulul Azmi A.R.
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Narindha Violla
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Nurul Intan
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Wulan Sari
  </a>

  <div class="item item-divider">
    SIE Humas
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Khoirun Ikhwan Rifai
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Aulia Fitri Addini
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Melia Simatupang
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Helfina Novi A.
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Devi Rizka R.
  </a>

  <div class="item item-divider">
    SIE Konsumsi
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Khairun Nisa
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Egana Pertiwi
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Anisa Rachmawatai W.
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Anggyta Putri W.
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Riska Fitri
  </a>

  <div class="item item-divider">
    SIE Logistik
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Ari Dwi Setianto
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Nur Wahyudi
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Gifari Alfan R.
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Mokhamad Khairul Rahman
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Riza Agustin
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Feri Ardiansyah
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Dimas Ardiansah
  </a>

  <div class="item item-divider">
    SIE Dokumentasi
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Desi Hutami
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Endah Widiastutik
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Elita Purwindasari
  </a>

  <div class="item item-divider">
    SIE Keamanan
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Imam Adi Praja
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Fandi Ahmad
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Fadli Farhan Hakim
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Rully Arifiandi
  </a>

  <div class="item item-divider">
    Master of Ceremony
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Suci Ratnasari
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Tanto Rianto
  </a>

</div>


  </ion-content>
</ion-view>
